<header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <!-- Slide One - Set the background image for this slide in the line below -->
            <div class="carousel-item active"
                 style="background-image: url('/imgs/larutadelsorigens_bugatti-car-wallpaper-hd_1994351.jpg')">
                <div class="carousel-caption d-none d-md-block">
                    <h3>BookWorm</h3>
                    <p>Car booking re-imagined</p>
                </div>
            </div>
            <!-- Slide Two - Set the background image for this slide in the line below -->
            <div class="carousel-item"
                 style="background-image: url('/imgs/larutadelsorigens_jaguar-car-wallpaper_214619.jpg')">
                <div class="carousel-caption d-none d-md-block">
                    <h3>Fast & Easy</h3>
                    <p>We facilitate your next purchase</p>
                </div>
            </div>
            <!-- Slide Three - Set the background image for this slide in the line below -->
            <div class="carousel-item"
                 style="background-image: url('/imgs/larutadelsorigens_jaguar-car-wallpaper_214779.jpg')">
                <div class="carousel-caption d-none d-md-block">
                    <h3>Unlimited choice</h3>
                    <p>We provide top of the line models</p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</header>

<!-- Page Content -->
<div class="container">
    <!-- Features Section -->
    <div class="row" style="margin-top: 30px">
        <div class="col-lg-6">
            <h2>What we do</h2>
            <p>We provide you with the ultimate car booking experience</p>

            <ul>
                <li>The ability to choose your car flexibly.</li>
                <li>Save your car configuration to review later or purchase.</li>
                <li>Helps you book your car.</li>
                <li>You can cancel your booking anytime.*</li>
            </ul>

            <sub>*Booking cancels are only valid as long as no down payment is provided.</sub>

            <br>
            <br>

            <p>BookWorm is a service that helps you choose your perfect car. It facilitates the process of choosing your
                car by providing a versatile user experience that gives you the ability to choose everything for a car
                fitting your personality, starting from brand, car type, color, engine type, …etc.</p>
        </div>
        <div class="col-lg-6">
            <img class="img-fluid rounded" src="http://placehold.it/700x450" alt="">
        </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Call to Action Section -->
    <div class="row mb-4">
        <div class="col-md-8">
            <h5>What are you waiting for? Browse our directory and book you new car now!</h5>
        </div>
        <div class="col-md-4">
            <a class="btn btn-lg btn-secondary btn-block" href="/directory">Browse directory</a>
        </div>
    </div>

</div>
<!-- /.container -->