<div class="container">

    <h1 class="mt-4 mb-3">User Dashboard
    </h1>

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">Home</a>
        </li>
        <li class="breadcrumb-item active">User Dashboard</li>
    </ol>

    <div class="row" >

        <div class="card" style="margin-bottom: 20px; width: 100%; text-align: center">
            <div class="card-body">
                <div class="btn-group-horizontal" role="group" aria-label="Basic example">
                    <a href="/profile/getBookedCars" class="btn btn-primary">My Booked Cars</a>
                    <a href="/profile/getFavouriteCars" class="btn btn-primary">My Favourite Cars</a>
                </div>
            </div>
        </div>
    </div>
</div>

</div>